@model IEnumerable<VDMS.ViewModel.ReceiverRecordViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Receiver.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssingData)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Receiver.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.VehicleNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssingData)
        </td>
        <td>
            @Html.ActionLink("Terminate to Pool", "Terminate", new { id = item.Id }, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            <button type="button" data-manufacture="@item.Id" class="js-delete btn btn-danger">Delete</button>
        </td>
    </tr>
}

</table>
