@model IEnumerable<VDMS.ViewModel.InsuranceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h5 class="card-header">Vehicles Insurance</h5>
            <div class="card-body">
                <table class="table" id="vdataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle.VehicleNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PolicyNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IncuranceCompany)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vehicle.VehicleNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PolicyNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IncuranceCompany.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("Details", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#vdataTable').DataTable();
        });
    </script>
}